*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gabarito',sans-serif;
}
.nav-container{
    text-align: center;
    padding: 20px;
    background-color: brown;
    color: white;
}
.nav-container__title{
    font-size: 35px;
}
.nav-container__link{
    color: beige;
    text-decoration: none;
}
.recepie-container{
    align-content: center;
    text-align: center;
    padding: 50px;
    
}
.recepie-container__info{
    display: inline-block;
    width: 200px;
    height: 320px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 20px;
    vertical-align: middle;
}
.recepie-container__image{
    width: 200px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.recepie-container__name{
    margin-top: 5px;
    text-align: center; 
}
.nav-container__desc{
    margin-top: 200px;
    text-align: center;
    font-size: 14px;
}
.recepie-container__button{
    padding: 5px 10px 5px 10px;
    vertical-align: middle;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(176, 86, 250);
    color: white;
}
.footer-container{
    align-content: center;
    text-align: center;
    background-color: brown;
    color: white;
    padding: 10px;
}
.title,.button,.table{
margin-bottom: 5px;
}
.table{
    display: inline-block;
}
.input{
    padding: 5px;
    margin-bottom: 5px;
    width: 250px;
}
.lable{
    margin-right: 5px;
}
.button{
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    background-color: black;
    color: white;
}